/* div > .top-nav-container {
    box-shadow: 0px 8px 8px 0px rgba(25, 25, 25, 0.181);
} */



.top-nav-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    padding-top: 25px;
    background-color: white;
    margin: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: hsl(0, 2%, 91%);

}


img {
    width: 42px;
    height: 42px;
    margin-right: 6px;
}

div.logo {
    display: block;
    width: 25px;
    background-color: red;
}

.brand-container {
    display: flex;
}

.title {
    font-family: Braveold;
    display: flex;
    font-size: 28px;
    font-weight: bold;
}

.links {
    font-family: 'Futura';
    display: flex;
    font-size: 18px;
    gap: 56px;
    cursor: pointer;
}

.links > a:hover {
    color: darkgray;
    transition: color ease-out 200ms;
}

@media screen and (max-width: 390px) { 
    img {
      width: 50px;
      height: 50px;
    }
}