h1 {
    font-family: Braveold;
    font-size: 84px;
}

p {
    font-family: 'Futura';

}
.heading-container {
    margin: 72px 0 140px 0;
}

.subtext-heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 20px;
}

.heading-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.heading-links > img {
    width: auto;
    height: 60px;
}

.underline {
    margin: auto;
    padding-bottom: 9px;
    background-image: url('./squiggly-line.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: scrollBackground linear infinite 0.5s;
}
@keyframes scrollBackground {
    from {
      background-position: 0 100%;
    }
    to {
      background-position: .9em 100%;
    }
  }


  .typing-container {
    display: inline-flex;
  }

  .typing-container .text {
    position: relative;
  }

  .text.dynamic-txt:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 3px solid black;
    animation: animate 2s steps(9) infinite;
  }
@keyframes animate{
    40%, 60% {
        left: 100%;
    }
    100%{
        left:0%
    }
}

/* title {
    color: aqua;
} */

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptxt {
    font-size: 21px;
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptxt {
    visibility: visible;
  }

  @media screen and (max-width: 414px) { 
    h1 {
      line-height: 12px;
      font-size: 42px;
    }

    .subtext-heading {
      margin: 12px 0px;
    }

    .subtext-heading  p {
      margin: 12px 0px;
      font-size: 12px;
      line-height: 12px;
    }

    .heading-links {
      gap: 50px;
    }
}